# Ignore Docker data & logs
docker/postgres/data/
docker/minio/data/
docker/logs/
docker/airflow/logs/
docker/plugins


# Ignore temporary system and metadata files
*.log
*.pid
*.bin
*.meta
.env
__pycache__/
*.pyc
.vscode/
/.github/.cache

banking_dbt/.dbt/
banking_dbt/analyses/
banking_dbt/logs/


# GitHub Actions cache
/.github/.cache

# Docker cache
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

# DBT cache
banking_dbt/.dbt/
banking_dbt/analyses/
banking_dbt/logs/
banking_dbt/macros/
banking_dbt/seeds/
banking_dbt/target/
banking_dbt/tests/

.env
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.override.yml
logs/